*.zip
AutoPhrase0/
yelp/BERTembed.txt
yelp/phrase_text.txt
yelp/sentences-001.json
yelp/sentences_.txt
yelp/.DS_Store
.DS_Store
myenv/
yelp/sentences.json
yelp/emb_part_des_s.txt
dblp/BERTembed.txt
dblp/phrase_text.txt
dblp/sentences.json
dblp/sentences_.txt
.DS_Store
